.open-sans
{
    font-family: "Open sans";
}

.small
{
    font-weight: 400;
    font-size: 14px;
}

.normal
{
    font-size: 16px;
}

.bold
{
    font-size: 16px;
    font-weight: 700;
}

.separate
{
    margin-top: 30px;
}

input::placeholder
{
    font-family: "Open sans";
    font-size: 14px;
}

#home-uf-background
{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(150, 150, 150, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: auto;
    padding-bottom: 100px;
}

#home-uf-panel
{
    margin-top: 30px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: 1;
    background-color: var(--neutral-white);
    min-width: 80vw;
    max-width: 80vw;
    min-height: 100%;
    max-height: 100%;
    padding: 50px;
    border-radius: 10px;
}

#home-uf-close:hover
{
    cursor: pointer;
}

#home-uf-head
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#home-uf-grid
{
    min-width: 90%;
    max-width: 90%;
    row-gap: 20px;
    column-gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#change-history-background
{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(150, 150, 150, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: auto;
    padding-bottom: 100px;
}

#change-history-panel
{
    margin-top: 30px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: 1;
    background-color: var(--neutral-white);
    min-width: 80vw;
    max-width: 80vw;
    min-height: 100%;
    max-height: 100%;
    padding: 50px;
    border-radius: 10px;
}

#change-history-close:hover
{
    cursor: pointer;
}

#change-history-head
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#history-grid
{
    min-width: 90%;
    max-width: 90%;
    display: grid;
    row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.line
{
    margin-top: 3vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 60px;
}

.field
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

.display-box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    min-height: 30px;
    max-height: 30px;
    min-width: 200px;
    max-width: 400px;
    font-size: large;
    padding: 5px;
}

.calendar
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    min-width: 120px;
}

#actions
{
    align-self: last baseline;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

#search
{
    color: var(--neutral-white);
    background-color: var(--brand-blue-900-aa);
    font-size: medium;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    min-width: 8vw;
    max-width: 8vw;
    min-height: 6vh;
    max-height: 6vh;
}

#search:hover
{
    cursor: pointer;
}

#clear
{
    color: var(--brand-blue-900-aa);
    background-color: var(--neutral-white);
    font-size: medium;
    border-style: solid;
    border-width: 2px;
    border-color: var(--brand-blue-900-aa);
    border-radius: 10px;
    margin-left: 10px;
    min-width: 8vw;
    max-width: 8vw;
    min-height: 6vh;
    max-height: 6vh;
}

#clear:hover
{
    cursor: pointer;
}

#results-text
{
    margin-top: 3vh;
    font-size: x-large;
    font-weight: bold;
    font-family: var(--font-open-sans);
}

#results
{
    margin-top: 3vh;
    min-width: 80vw;
    max-width: 80vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    overflow: hidden;
    border-radius: 10px;
    border-color:rgb(203, 200, 186);
    border-style: solid;
    border-width: 1px;
}

#new-aes-container
{
    margin-top: 30px;
    min-width: 90vw;
    max-width: 90vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.new-aes
{
    color: var(--neutral-white);
    background-color: var(--brand-blue-900-aa);
    font-size: medium;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.first-row
{
    background-color: var(--brand-blue-100);
    text-align: left;
    padding: 20px;
    font-size: 14px;
    font-weight: 500;
}

.warning-row
{
    background-color: lightyellow;
    text-align: left;
    padding: 20px;
    border-bottom-color:rgb(203, 200, 186);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-weight: 500;
    font-size: 16px;
}

.normal-row
{
    text-align: left;
    padding: 20px;
    border-bottom-color:rgb(203, 200, 186);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 16px;
}

.gray-row
{
    background-color: rgba(220, 220, 220, 0.3);
    text-align: left;
    padding: 20px;
    border-bottom-color:rgb(203, 200, 186);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 16px;
}

#results-navigator
{
    margin-top: 3vh;
    min-width: 80vw;
    max-width: 80vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

#pages
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

#controls
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

#results-person
{
    margin-top: 5vh;
    min-width: 80vw;
    max-width: 80vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    overflow: hidden;
    border-radius: 10px;
    border-color:rgb(203, 200, 186);
    border-style: solid;
    border-width: 1px;
}

.small-display-list
{
    min-width: 90%;
    max-width: 90%;
    margin-top: 4vh;
    padding-left: 5px;
    background-color: rgba(220, 220, 220, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
    flex-direction: row;
}

.display-list
{
    min-width: 90vw;
    max-width: 90vw;
    margin-top: 4vh;
    padding-left: 5px;
    background-color: rgba(220, 220, 220, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
    flex-direction: row;
}

.info-logo
{
    width: 24px;
    height: 24px;
}

.mono-display-list
{
    min-width: 85vw;
    max-width: 85vw;
    margin-top: 4vh;
    padding-left: 5px;
    background-color: rgba(220, 220, 220, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
    flex-direction: row;
}

.padded-display-list
{
    min-width: 90vw;
    max-width: 90vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.white-display-list
{
    min-width: 90vw;
    max-width: 90vw;
    margin-top: 4vh;
    padding-left: 5px;
    border-color: rgba(108, 108, 108, 0.3);
    border-width: 1px;
    border-style: solid;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
    flex-direction: row;
}

.section
{
    font-weight: lighter;
    font-size: 16px;
    font-family: "Open Sans";
}

#path
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

#censo-personas-link
{
    color: var(--brand-blue-900-aa);
    text-decoration-line: underline;
    text-decoration-color: var(--brand-blue-900-aa);
}

#censo-personas-link:hover
{
    cursor: pointer;
}

#person-path
{
    color: gray;
}

#person-info
{
    margin-top: 20px;
    background-color: white;
    min-width: 90vw;
    max-width: 90vw;
    padding: 20px;
    box-shadow: var(--sombra-1);
}

#person-head
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#person-head-links
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

#change-history
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: large;
    color: var(--brand-blue-900-aa);
    text-decoration-line: underline;
    text-decoration-color: var(--brand-blue-900-aa);
    gap: 5px;
}

#change-history:hover
{
    cursor: pointer;
}

#cancel-person
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: large;
    color: red;
    text-decoration-line: underline;
    text-decoration-color: red;
    gap: 5px;
}

#cancel-person:hover
{
    cursor: pointer;
}

.person-head-line
{
    display: grid;
    justify-content: flex-start;
    grid-template-columns: auto auto auto auto auto;
    flex-direction: row;
    column-gap: 80px;
    row-gap: 30px;
}

.person-head-entity
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.person-head-calendar
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

#social-file-status
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: green;
    border-radius: 100px;
}

.title
{
    color: gray;
}

.content
{
    font-size: large;
}

.person-sections
{
    margin-top: 3vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.selected-person-control
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--brand-blue-100);
    color: var(--brand-blue-900-aa);
    border-color: var(--brand-blue-900-aa);
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    font-size: large;
    padding: 15px;
    gap: 5px;
}

.selected-person-control:hover
{
    cursor: pointer;
}

.person-control
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    font-size: large;
    padding: 15px;
    gap: 5px;
}

.person-control:hover
{
    cursor: pointer;
}

.person-fields-class
{
    margin-top: 2vh;
    min-width: 90vw;
    max-width: 90vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;
    margin-bottom: 3vh;
    gap: 40px;
}

.selected-person-control-option
{
    font-family: var(--font-open-sans);
    color: var(--brand-blue-900-aa);
    padding-bottom: 10px;
    border-bottom-color: var(--brand-blue-900-aa);
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.selected-person-control-option:hover
{
    cursor: pointer;
}

.person-control-option
{
    font-family: var(--font-open-sans);
    color: var(--brand-blue-900-aa);
    padding-bottom: 10px;
}

.person-control-option:hover
{
    cursor: pointer;
}

#mandatory-fields
{
    margin-top: 2vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.asterisk
{
    color: red;
}

#personal-data-arrow:hover
{
    cursor: pointer;
}

.data-displayer
{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-width: 90vw;
    max-width: 90vw;
    row-gap: 30px;
    column-gap: 30px;
}

.mandatory
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.textbox
{
    border-radius: 5px;
    border-width: 1px;
    min-height: 30px;
    max-height: 30px;
    min-width: 250px;
    max-width: 250px;
    font-size: large;
}

.options
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.selected-option
{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: var(--neutral-white);
    background-color: var(--brand-blue-900-aa);
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 60px;
}

.option
{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: var(--brand-blue-900-aa);
    background-color: var(--brand-blue-100);
    border-radius: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 60px;
}

.textbox-image
{
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.no-textbox
{
    min-height: 30px;
    max-height: 30px;
    min-width: 125px;
    max-width: 125px;
    border-radius: 5px;
    border-width: 1px;
    font-size: large;
}

.small-display-box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    min-height: 30px;
    max-height: 30px;
    min-width: 50px;
    max-width: 50px;
    font-size: large;
    padding: 5px;
}

.small-textbox
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    min-height: 30px;
    max-height: 30px;
    min-width: 50px;
    max-width: 50px;
    font-size: large;
    padding: 5px;
}

.small-blocked-textbox
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    border-style: none;
    background-color: lightgray;
    min-height: 30px;
    max-height: 30px;
    min-width: 50px;
    max-width: 50px;
    font-size: large;
    padding: 5px;
}

.blocked-textbox
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    border-style: none;
    background-color: lightgray;
    min-height: 30px;
    max-height: 30px;
    min-width: 250px;
    max-width: 250px;
    font-size: large;
    padding: 5px;
}

#advanced-data-elements,
#observations-elements
{
    display: none;
}

.observations-block
{
    margin-top: 2vh;
}

.observations-text
{
    min-width: 90vw;
    max-width: 90vw;
    font-family: "Open Sans";
    padding: 10px;
    min-height: 100px;
}

.new-observation
{
    font-weight: lighter;
}

.pending-tasks-text
{
    margin-top: 30px;
    font-size: 19px;
    font-weight: bold;
    font-family: var(--font-open-sans);
}

.pending-tasks-uf
{
    margin-top: 30px;
    min-width: 90%;
    max-width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    overflow: hidden;
    border-radius: 10px;
    border-color:rgb(203, 200, 186);
    border-style: solid;
    border-width: 1px;
    font-family: "Open Sans";
}

.pending-tasks
{
    margin-top: 3vh;
    min-width: 90vw;
    max-width: 90vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    overflow: hidden;
    border-radius: 10px;
    border-color:rgb(203, 200, 186);
    border-style: solid;
    border-width: 1px;
    font-family: "Open Sans";
}

.pending-tasks-big
{
    margin-top: 3vh;
    min-width: 90vw;
    max-width: 90vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    overflow: hidden;
    border-radius: 10px;
    border-color:rgb(203, 200, 186);
    border-style: solid;
    border-width: 1px;
    font-family: "Open Sans";
}

.pending-tasks-very-big
{
    margin-top: 3vh;
    min-width: 90vw;
    max-width: 90vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    overflow: hidden;
    border-radius: 10px;
    border-color:rgb(203, 200, 186);
    border-style: solid;
    border-width: 1px;
    font-family: "Open Sans";
}

.pending-tasks-date
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 50px;
}

.normal-row
{
    justify-content: flex-start;
    text-align: left;
    padding: 20px;
    border-bottom-color:rgb(203, 200, 186);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.actions-img
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

#download
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    text-decoration-line: underline;
    text-decoration-color: var(--brand-blue-900-aa);
    color: var(--brand-blue-900-aa);
    font-size: large;
    gap: 10px;
}

#home-and-family-fields,
#cohabitation-home-elements,
#registered-address-elements,
#notification-address-elements,
#social-record-fields,
#complementary-personal-data-elements,
#socio-biographical-data-elements,
#reason-for-attention-and-evaluation-elements,
#observations1-elements,
#social-history-fields,
#interventions-elements,
#aes-elements,
#documentation-fields,
#personal-elements
{
    display: none;
}

.flexbox
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}

.person-answer
{
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 15px;
}

.save-changes
{
    color: var(--neutral-white);
    background-color: var(--brand-blue-900-aa);
    font-size: medium;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.save-changes:hover
{
    cursor: pointer;
}

.separator
{
    margin-top: 3vh;
}

.cancel
{
    color: var(--brand-blue-900-aa);
    background-color: var(--neutral-white);
    font-size: medium;
    border-style: solid;
    border-width: 2px;
    border-color: var(--brand-blue-900-aa);
    border-radius: 10px;
    margin-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.cancel:hover
{
    cursor: pointer;
}

.search
{
    margin-top: 3vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.search-data
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 30px;
}

.search-img
{
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
}

.search-text
{
    margin-left: 20px;
    border: none;
    min-width: 35vw;
    max-width: 35vw;
    min-height: 6vh;
    max-height: 6vh;
    font-size: large;
}

.search-text:focus
{
    outline: none;
}

.search-cancel
{
    display: none;
    font-size: x-large;
    color: darkgray;
    font-family: var(--font-montserrat);
}

.search-cancel:hover
{
    cursor: pointer;
}

.search-action
{
    color: var(--neutral-white);
    background-color: var(--brand-blue-900-aa);
    font-size: medium;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    min-width: 7vw;
    max-width: 7vw;
    min-height: 6vh;
    max-height: 6vh;
}

.search-action:hover
{
    cursor: pointer;
}

.share
{
    margin-top: 3vh;
}

.blocked-button
{
    margin-top: 5vh;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    background-color: lightgray;
    color: gray;
    min-height: 30px;
    min-width: 250px;
    font-size: large;
    padding: 20px;
}

#home-and-uf-history
{
    min-width: 90vw;
    max-width: 90vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    color: var(--brand-blue-900-aa);
    text-decoration-line: underline;
    text-decoration-color: var(--brand-blue-900-aa);
}

#home-and-uf-history:hover
{
    cursor: pointer;
}

.person-answer-control
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    flex-direction: row;
}

#cambios-img
{
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.mildly-separated-flexbox
{
    min-width: 90vw;
    max-width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.separated-flexbox
{
    padding-right: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dotted-flexbox
{
    min-width: calc(90vw - 10px);
    max-width: calc(90vw - 10px);
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--brand-blue-100);
    border-color: var(--brand-blue-900-aa);
    color: var(--brand-blue-900-aa);
    border-width: 2px;
    border-style: dashed;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
    flex-direction: row;
}

.dotted-flexbox:hover
{
    cursor: pointer;
}

.small-cruz
{
    width: 15px;
    height: 15px;
    object-fit: cover;
}

#correct-display:hover
{
    cursor: pointer;
}

.info-logo:hover
{
    cursor: pointer;
}

#information-displayer
{
    display: none;
    background-color: rgb(66, 65, 65);
    position: absolute;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
}

#information-displayer:hover
{
    cursor: pointer;
}

#information-displayer1
{
    display: none;
    background-color: rgb(66, 65, 65);
    position: absolute;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
}

#information-displayer1:hover
{
    cursor: pointer;
}

#correct-panel
{
    display: none;
    background-color: rgb(66, 65, 65);
    position: absolute;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
}

#correct-panel:hover
{
    cursor: pointer;
}

.correct-title
{
    font-size: 15px;
}

.correct-text
{
    color: white;
}

.doc-flexbox
{
    min-width: 90vw;
    max-width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.doc-table
{
    min-width: 90vw;
    max-width: 90vw;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto 1fr;
    overflow: hidden;
    border-color:rgb(203, 200, 186);
    border-style: solid;
    border-width: 1px;
}

.checkbox
{
    min-width: 25px;
    min-height: 25px;
}

#maximum
{
    padding-left: 10px;
    border-left-color: var(--brand-blue-900-aa);
    border-left-style: solid;
    border-left-width: 1px;
}

#new-act
{
    min-width: 90vw;
    max-width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#rio-alto:hover, #additional-information:hover
{
    cursor: pointer;
}

#rio-alto-data, #additional-information-data
{
    display: none;
}